<div>
    <h2>
        <span>Warehouse Inventarisations</span>
        <button class="btn btn-primary float-right jh-create-entity create-warehouse-inventarisation" [routerLink]="['/', { outlets: { popup: ['warehouse-inventarisation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Warehouse Inventarisation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="warehouseInventarisations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date</span></th>
            <th><span>Product Quantity</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let warehouseInventarisation of warehouseInventarisations ;trackBy: trackId">
                <td><a [routerLink]="['../warehouse-inventarisation', warehouseInventarisation.id ]">{{warehouseInventarisation.id}}</a></td>
                <td>{{warehouseInventarisation.date | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="warehouseInventarisation.productQuantityId">
                        <a [routerLink]="['../product-quantity', warehouseInventarisation.productQuantityId  ]" >{{warehouseInventarisation.productQuantityId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../warehouse-inventarisation', warehouseInventarisation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'warehouse-inventarisation/'+ warehouseInventarisation.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'warehouse-inventarisation/'+ warehouseInventarisation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
