
<div *ngIf="inventarisation">
    <h2><span>Inventarisation</span> {{inventarisation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Date</span></dt>
        <dd>
            <span>{{inventarisation.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Warehouse Inventarisation</span></dt>
        <dd>
            <div *ngIf="inventarisation.warehouseInventarisationId">
                <a [routerLink]="['/warehouse-inventarisation', inventarisation.warehouseInventarisationId]">{{inventarisation.warehouseInventarisationId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'inventarisation/'+ inventarisation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
